<table id="createLanguage" class="display table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse text-center">
            <tr>
                <th class="text-center">Name</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Eric</td>
          </tr>
          <tr>
            <td>Georg</td>
          </tr>
          <tr>
            <td>Megan</td>
          </tr>
          <tr>
            <td>Tyler</td>
          </tr>
        </tbody>
    </table>
  