<table id="editGroup" class="display transfer-target table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse dt-center">
            <tr>
                <th></th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody class="dt-center">
        </tbody>
    </table>