<table id="editPermissions" class="display transfer-target table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse dt-center">
            <tr>
                <th></th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody class="dt-center">
            <tr>
                <td></td>
                <td>mchipman</td>
            </tr>
            <tr>
                <td></td>
                <td>ebutt</td>
            </tr>
            <tr>
                <th></th>
                <td>ganemo</td>
            </tr>
            <tr>
                <td></td>
                <td>tchuahan</td>
            </tr>
        </tbody>
    </table>