<!--The Table Rows should also be the same as multiUserSearch and userAdvanceSearch...-->
<!--and this should always have the class 'hide'-->
<table id="hiddenUserTable" class="display table-sm table-hover table-bordered hide " cellspacing="0" width="100%">
        <thead class="thead-inverse dt-center">
            <tr>
                <th>More Info</th>
                <th>Username</th>
                <th>Total Logs</th>
                <th>Avg. Score</th>
                <th>Sex</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody class="dt-center">
        </tbody>
    </table>