<table id="myPacks" class="display table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse dt-center">
            <tr>
                <th></th>
                <th>Pack Name</th>
                <th>Version</th>
                <th># of Terms</th>
            </tr>
        </thead>
        <tbody class="dt-center">
            
        </tbody>
    </table>