<table id="pendingAdmins" class="display table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse dt-center">
            <tr>
                <th>More Info</th>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody class='dt-center'>
        </tbody>
    </table>