<table id="selectTerm" class="display table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse dt-center">
            <tr>
                <th>More Info</th>
                <th>Term Name</th>
                <th>Translation</th>
                <th>Tag</th>
                <th>Difficulty</th>
                <th>Image</th>
                <th>Term Audio</th>
                <th>Translation Audio</th>
            </tr>
        </thead>
        <tbody class="dt-center">
        </tbody>
    </table>