<table id="selectLanguage" class="display table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse">
            <tr>
                <th>More Info</td>
                <th>Pack Name</th>
                <th>Version</th>
                <th># of Terms</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>