<table id="singleUserSearch" class="display table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse dt-center">
            <tr>
                <th></th>
                <th>Username</th>
                <th>Total Logs</th>
                <th>Avg. Score</th>
                <th>Sex</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody class="dt-center">
        </tbody>
    </table>