<table id="userLogs" class="display table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse dt-center">
            <tr>
                <th>Hey</th>
            </tr>
        </thead>
        <tbody class="dt-center">
            <td>This</td>
        </tbody>
    </table>