<table id="userLogs" class="display table-sm table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-inverse dt-center">
            <tr>
                <th></th>
                <th>#</th>
                <th>Log ID</th>
                <th>Game Type</th>
                <th>Module</th>
                <th>Version</th>
                <th>Score</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody class="dt-center">
        </tbody>
    </table>