<% include partials/common/drop2beforeTitle %>
  <title>Reset Password</title>
  <link rel="stylesheet" href="../../stylesheets/settings/resetPassword.css">

<% include partials/common/afterTitle %>
<% include partials/common/navbar %>

<div class="container pageContent">
    
  <div class = "content-form">
    <h2 class="titleHeader">Reset your Password</h2>
    <div class="text-center">
      <a href="/settings" class="returnLink">Return to Settings Menu</a>
    </div>
    <hr>
    
      <input id="lost_username" type="text" class="form-control hide"> 
      <div class="form-group form-term-group col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <label for ="lost_email" class="control-label">Your Email Address</label>
        <input type="email" class="form-control" id="lost_email" placeholder="email" required>
      </div>
      <div class="form-group form-term-group col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <label for ="lost_password_reset" class="control-label">Security Question</label>
        <a tabindex="0" type="button" class="refHelp" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="Recovery Question" data-content="What was the name of your first pet?">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </a>
        <input type="password" class="form-control" id="lost_password_reset" placeholder="answer" required>
      </div>
      <div class="form-group form-term-group col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <label for ="lost_password" class="control-label">New Password</label>
        <input type="password" class="form-control" id="lost_password" placeholder="password" required>
      </div>
      <div class="form-group form-term-group col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <label for ="lost_password_confirm" class="control-label">Confirm New Password</label>
        <input type="password" class="form-control" id="lost_password_confirm" placeholder="password" n>
      </div>
      
    <div class="col-10 offset-1 col-md-6 offset-md-3 text-center editTermBox">
      <div class="form-group">
        <button class ="btn btn-danger btn-lg formButton" id="validateButton" type="button">Reset Password</button>
        <button class ="hide" id="submitButton" type="submit"></button>
      </div>
    </div>
      
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalTitle">Warning: Error(s)     
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul id="modal-foundErrors" class=""></ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modalBtn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal" id="submitInfo" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalTitle">Submit Notification
            </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group text-center">
              <h4 id="submitText"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<% include partials/common/timeoutLogin %>

<div class="pageEnder"></div>

<% include partials/common/drop2footer %>
<% include partials/common/auth %>
<script>

$(function() {
  
  checkToken();
  
  $('#hasToken').change(function(){
    
    <% include partials/common/pendingAdmin %>
    $("#lost_username").val(sessionStorage.getItem('ELLE-author'));

  });
  
  $('#lost_email').keypress(function(event) {
    if (event.keyCode == 13 || event.which == 13) {
        $('#lost_password_reset').focus();
        event.preventDefault();
    }
  });
  $('#lost_password_reset').keypress(function(event) {
    if (event.keyCode == 13 || event.which == 13) {
        $('#lost_password').focus();
        event.preventDefault();
    }
  });
  $('#lost_password').keypress(function(event) {
    if (event.keyCode == 13 || event.which == 13) {
        $('#lost_password_confirm').focus();
        event.preventDefault();
    }
  });
  $('#lost_password_confirm').keypress(function(event) {
    if (event.keyCode == 13 || event.which == 13) {
        event.preventDefault();
        $("#validateButton").click();
    }
  });
  
  $("#validateButton").click(function(e){
    e.preventDefault();
    $("#modal-foundErrors").empty();
    var errorStack = [];
    
    if ($("#lost_password").val() != $("#lost_password_confirm").val()){
      errorStack.push("Passwords do not match");
    }
    if ($("#lost_password_confirm").val().length == 0){
      errorStack.push("Password Confirm is empty");
    }
    if ($('#lost_password').val().length == 0){
      errorStack.push("Password is empty")
    }
    if ($('#lost_password_reset').val().length == 0){
      errorStack.push("Security Question is empty")
    }
    if ($("#lost_email").val().length == 0){
      errorStack.push("Email is Empty");
    }

    
    if (errorStack.length != 0){
      while (errorStack.length != 0){
        var error = errorStack.pop();
        var li = document.createElement('li');
        var textNode = document.createTextNode(error);
        li.appendChild(textNode);
        document.getElementById("modal-foundErrors").appendChild(li);
      }
      $('#errorModal').modal();
    }
    else {
      
      var lostUserJSON = {
          'username': sessionStorage.getItem("ELLE-author"),
          'password_reset' : $("#lost_password_reset").val(),
          'email': $("#lost_email").val(),
          'new_password': $("#lost_password").val()
        }
      var lostUserJSONreq = JSON.stringify(lostUserJSON);

      var resetPassword = new XMLHttpRequest();
      resetPassword.open("PUT", 'http://159.203.163.147/resetPassword', true);
      // resetPassword.setRequestHeader('Authorization', 'JWT ' + sessionStorage.getItem('ELLE-JWT-token'));
      resetPassword.setRequestHeader('Content-Type', 'application/json');
      resetPassword.onreadystatechange = function () {
        if(resetPassword.readyState == XMLHttpRequest.DONE && resetPassword.status == 200) {
            // Request finished. Do processing here.
            $("#submitText").html("Password Reset!");
            $("#submitInfo").modal();
            setTimeout( function() {
              window.location = "/settings"
            }, 2000);
            // if (response
        }
        else if (resetPassword.status == 400){
          var response = JSON.parse(resetPassword.responseText);

        }
        else {

        }
      }
      
      resetPassword.send(lostUserJSONreq);

    }
  });
  
  
  

});

</script>
